<nav class="navbar">
  <a class="navbar-brand" routerLink="/">ShopIn</a>
  
  <div class="navbar-search">
    <input [value]="searchQuery" (input)="searchQuery = $event.target.value" type="text" placeholder="Search for products..." class="search-input" />
    <button class="search-btn" (click)="onSearch()">Search</button>
  </div>

  <div class="navbar-links">
    <a routerLink="/products" class="nav-link">Products</a>
    <div class="dropdown">
      <button class="dropbtn">Categories</button>
      <div class="dropdown-content">
        <a routerLink="/electronics">Electronics</a>
        <a routerLink="/clothing">Clothing</a>
        <a routerLink="/home-appliances">Home Appliances</a>
        <a routerLink="/books">Books</a>
      </div>
    </div>
    <a routerLink="/cart" class="nav-link cart-link">
      <i class="cart-icon"></i> Cart ({{ cart.count() }})
    </a>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/signup" class="nav-link">Signup</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
          <a routerLink="/profile">Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
